<% unless notice.blank? %>
<div class="alert alert-info alert-dismissible fade show" role="alert" id="notice">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>

<div class="row">

<div class="col-sm"><h1>Courses</h1></div>
<div class="col-sm text-right">
  <% if can? :manage, Course %>
    <%= link_to 'New Course', new_course_path, class: 'btn btn-primary' %>
  <% end %>
</div>

</div>

<table data-toggle="table"
       data-query-params-type="page"
       data-search="true"
       data-pagination-pre-text="Previous"
       data-pagination-next-text="Next"
       data-pagination="true"
       data-pagination-loop ="false"
       data-side-pagination="server"
       data-url="courses.json">
  <thead>
    <tr>
      <th data-field="name">Name</th>
      <th data-field="description">Description</th>
      <th data-field="category">Category</th>
      <th data-field="subject">Subject</th>
      <th data-field="start_time">Start time</th>
      <th data-field="end_time">End time</th>
      <th data-field="number_of_student">Number of student</th>
      <% if can? :manage, Course %>
        <th data-field="edit"></th>
        <th data-field="delete"></th>
      <% end %>
    </tr>
  </thead>
</table>

<br>

